
%h1
  = image_tag 'twitter-bird-light-bgs.png', :width => 80
  Twitter News Reader
%p Last news of your interest

= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) unless current_user.present?

- if current_user.present?
  #newsfeeds
    = image_tag 'ajax-loader-large.gif', :width => 170

  :javascript
    $(function(){
       $.ajax({
          url: '#{newsfeed_path}',
          cache: false,
          type: 'GET'
      });
    });