- if @trends.present?
  - @trends.each do |t|
    %p= link_to t.name, show_trend_path(t.name), :remote => true

-if current_user.present? && @trends.nil?
  :javascript
    $(function(){
      $.ajax({
          url: '#{trends_path}',
          cache: false,
          type: 'GET'
      });
    });