- if @trends.present?
  %h4 Trending Topic News
  - @trends.each do |t|
    %p
      = link_to t.name, show_trend_path(t.name), :remote => true, :class => 'ttopic'

  :javascript
    $(function(){
      $('.ttopic').click(function(){
        $('.ttopic').css('color', '#0088CC');
        $(this).css('color', '#FF0000');
        $('#newsfeeds').fadeOut();
      })


    });

-if current_user.present? && @trends.nil?
  = image_tag 'ajax-loader-large.gif', :width => 100, :style => 'text-align: center', :align => 'center'
  :javascript
    $(function(){
      $.ajax({
          url: '#{trends_path}',
          cache: false,
          type: 'GET'
      });
    });
